NODE_ENV=dev
PORT=3000
PROJECT_NAME=CampusAccess

HASHING_SALT=
CRYPTO_PUBLIC_KEY_PATH=
CRYPTO_PRIVATE_KEY_PATH=
CRYPTO_ALGORITHM=
CRYPTO_KEYPHRASS=

# postgres configuration
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_MIGRATION_TABLE_NAME=
GENERATE_TEST_DATA=

# jwt configuration
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN_SHORT_TERM=
JWT_REFRESH_EXPIRES_IN=
AUTH_PRIVATE_KEY_PATH=
AUTH_PUBLIC_KEY_PATH=
JWT_ISSUER=

# admin user info
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PHONE=
ADMIN_PASSWORD=
ADMIN_STATUS=

# auto seed
AUTO_SEED=

# attendance summary refresh cron
ATTENDANCE_SUMMARY_REFRESH_CRON=